BETTER_AUTH_SECRET=a_secret_key_for_better_authentication
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
DATABASE_URL="postgresql://username:password@host:port/database?sslmode=require&channel_binding=require"
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret.apps.googleusercontent.com